<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="API.CertFile" value="App_Data\CerveraStormAPI-SE.pfx" />
    <add key="API.CertPwd" value="4711" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>